// Global Styling

*, html
  box-sizing: border-box

body
  overflow: hidden

/* Containers */

.container
  width: 100%
  margin: 0 auto
  padding: 0 20px

@media screen and (min-width: $tablet-breakpoint)
  .container
    width: 80%
    padding: 0

/* Buttons */

.button
  padding: 5px 20px
  border: 3px solid $primary-text-color
  border-radius: 3px
  font-weight: 700
  letter-spacing: 2px
  color: $primary-text-color
  background: transparent
  cursor: pointer
