<!-- Work Section -->
<svg preserveAspectRatio="none" height="50" width="100" viewbox="0 0 100 50" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <polygon points="0 0, 0 100, 100 100, 100 25" fill="url(#gradient-firewatch)"/>
</svg>

<section id="contact">
  <h1 class="section-header">Let's Work Together</h1>

  <div class="contact-form-wrapper">
    <form action="//formspree.io/colinrubbert@gmail.com" class="contact-form" method="POST">

      <div class="contact-form-info-group">
        <label for="name">
          <span>Name</span>
          <input type="text" name="name">
        </label>
        <label for="email">
          <span>Email</span>
          <input type="email" name="email">
        </label>
      </div>

      <div class="contact-form-message">
        <label for="message">
          <span>How can I help?</span>
          <textarea name="message" id="" cols="30" rows="10"></textarea>
        </label>
      </div>

      <div class="contact-form-submit">
        <input type="submit" value="Send" class="button">
      </div>

    </form>
  </div>

</section>

<svg preserveAspectRatio="none" height="50" width="100" viewbox="0 0 100 50" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <polygon points="0 0, 0 50, 100 25, 100 0" fill="url(#gradient-firewatch)"/>
</svg>
