<!-- Footer Section -->

<footer>

  <div class="container">
    <div class="footer-wrapper">
      <div class="social-media-wrapper">
        <h4><u>Social accounts</u></h4>
        <ul>
          <li>
            <a href="https://github.com/{{ site.github_username}}" target="_blank">Github @colinrubbert</a>
          </li>
          <li>
            <!-- Twitter -->
          <a href="https://twitter.com/{{ site.twitter_username }}" class="social-media-link" target="_blank">Twitter @colinrubbert
          </a>
          </li>
        </ul>        
      </div>
      <div class="footer-contact-wrapper" id="contact">
        <h4><u>Contact</u></h4>
        <ul>
          <li>hey@colinrubbert.com</li>
          <li>If you have questions, ideas or love letters I’d love to hear from you.</li>
        </ul>
        <div class="copyright">
          &copy; Colin Rubbert {{ site.time | date: '%Y' }}
        </div>
      </div>
    </div>
  </div>

</footer>
