<!-- Hides the SVG Presets-->
<div style="width: 0; height:0; overflow:hidden;" >
  <svg>
    <linearGradient id="gradient-nepal" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#f7a336;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="35%" style="stop-color:#de6161;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="65%" style="stop-color:#2657eb;stop-opacity:1"><!-- 2nd Color --></stop>
      <stop offset="100%" style="stop-color:#26abff;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
  </svg>
</div>

<!-- Header Navigation -->
<header>
  <nav>
    <div class="navigation-wrapper">
      <h2 class="navigation-branding">Colin Rubbert</h2>
      <button class="button button-primary" onClick="toggleMenu()">
        <span id="navigation-menu-toggle" class="closed"></span>
      </button>
    </div>
    <ul class="navigation-menu-wrapper" id="navigation-menu-wrapper">
      <li>
        <a href="#" class="navigation-link">Articles</a>
      </li>
      <li>
        <a href="#" class="navigation-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
