<section id="recent_articles">

  <div class="container">
    <h1 class="section-header">Recent Articles</h1>

    <div>

      <!-- List the 3 most recent articles -->
      {%  for post in site.posts offset: 0 limit: 3 %}
        <div>
          <a href="{{ post.url }}" class="article-title">
            <h2>{{ post.title }}</h2>
          </a>

          <p class="article-excerpt">
            {{ post.content | strip_html | truncatewords: 60 }}
          </p>
          <a href="{{ post.url }}">
            <p>Read More ...</p>
          </a>
        </div>

      {% endfor %}

    </div>
  </div>
</section>
