<!-- Hides the SVG Presets-->
<div style="width: 0; height:0; overflow:hidden;" >
  <svg>
    <!-- SVG Gradient Nepal -->
    <linearGradient id="gradient-nepal" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#de6161;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#2657eb;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
    <!-- SVG Gradient Kyoto -->
    <linearGradient id="gradient-kyoto" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#c21500;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#ffc500;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
    <!-- SVG Gradient Mojito -->
    <linearGradient id="gradient-mojito" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#1D976C;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#7FE0A3;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
    <!-- SVG Gradient Firewatch -->
    <linearGradient id="gradient-firewatch" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#EF473A;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#CB2D3E;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
    <!-- SVG Gradient Messenger -->
    <linearGradient id="gradient-messenger" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#0072FF;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#00A2FF;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
    <!-- SVG Gradient Lemon -->
    <linearGradient id="gradient-lemon" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#F7971E;stop-opacity:1"><!-- 1st Color --></stop>
      <stop offset="100%" style="stop-color:#FFD200;stop-opacity:1"><!-- 2nd Color --></stop>
    </linearGradient>
  </svg>
</div>
