<!-- Work Section -->
<svg preserveAspectRatio="none" height="50" width="100" viewbox="0 0 100 50" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <polygon points="0 0, 0 100, 100 100, 100 25" fill="url(#gradient-mojito)"/>
</svg>

<section id="work">
  <h1 class="section-header">Work</h1>
  <div class="work-wrapper">
    <div class="work-item-wrapper">
      <div class="work-item-thumbnail-wrapper">
        <div class="work-item-thumbnail">
          <iframe seamless scrolling="no" src="http://qcmf.com" frameborder="0"></iframe>
        </div>
      </div>
      <h3 class="work-item-title">Quality Custom Metal Fabrication</h3>
      <div class="work-item-description">
        <h4>The Problem:</h4>
        <p>Starting out the primary problem was a lack of mobile responsiveness. There was a decrease in traffic, indicating that the site was not getting ranked as well as it previously had been before. With Google's new search algorithm taking into account mobile responsiveness to ranking, QCMF had started to see a negative effect from this new search algorithm.</p>
        <p>The second problem was that the site was outdated and difficult to update. They were having to call their previous web design providers everytime they wanted to add a photo or make a content change. This resulted in increased expenditures to fix, edit, or upload content that would be otherwise easy for anyone to do.</p>
        <h4>The Resolution:</h4>
        <p>With mobile and searching ranking strong in mind, we focused on making a quality mobile first website that was easy to use, modern, and welcoming. Ther result was a modern and intuitive website that had easy to find information and quality images to see previous work they had done.</p>
        <p>To solve the second problem of having to constantly contact someone to make any changes to the content of the website, we went with a content management system. Looking for a simple solution with plenty of support and a large knowledgebase we went with WordPress. From there I developed the experience to be incredibly easy to edit content and images without risking damage to the core functionality of the site.</p>
        <p>As an added sprinkle to the cake I developed procedures to ensure that search engine optimization was a first class citizen making sure that they have the best possible scenarios to ensure high ranking to in Google search.</p>
      </div>
      <div class="work-item-technologies-wrapper">

      </div>
    </div>
  </div>
</section>

<svg preserveAspectRatio="none" height="50" width="100" viewbox="0 0 100 50" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <polygon points="0 0, 0 50, 100 25, 100 0" fill="url(#gradient-mojito)"/>
</svg>
