// Navigation Styling

header
  height: 80px

.navigation-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  max-width: 720px
  height: 80px
  margin: 0 auto
  color: $primary-color

.navigation-branding
  margin: 0
  font-weight: 500
  a
    text-decoration: none

.navigation-menu-wrapper
  display: flex
  margin: 0
  list-style: none
  text-align: center
  align-items: center

.navigation-link
  margin-left: 1.5rem
  text-decoration: none
  font-size: 1.5rem
  &:hover
    color: $highlight-color-alt

/* Media Queries */
// @media screen and (min-width: $tablet-breakpoint)
//   .navigation-wrapper
//     width: 80%
//     margin: 0 auto
//     padding: 0

//   .navigation-branding
//     font-size: 2rem
