// Work Section Styling

$work-item-thumbnail-width: 1024px
$work-item-thumbnail-height: 768px
$work-item-thumbnail-scale: 0.25

#work
  background: $gradient-mojito
  color: $secondary-text-color
  padding: 0

.work-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.work-item-wrapper
  display: flex
  flex-direction: column
  padding: 2rem
  h3
    margin: 1.125rem 0

.work-item-thumbnail,
.work-item-thumbnail iframe
  width: $work-item-thumbnail-width
  height: $work-item-thumbnail-height

.work-item-thumbnail
  transform: scale($work-item-thumbnail-scale)
  transform-origin: 0 0

.work-item-thumbnail-wrapper
  width: calc( #{$work-item-thumbnail-width} * #{$work-item-thumbnail-scale})
  height: calc(#{$work-item-thumbnail-height} * #{$work-item-thumbnail-scale})
  display: inline-block
  overflow: hidden
  position: relative

.work-item-image-md,
.work-item-image-lg
  display: none

.work-item-image-sm
  display: inline-block

.work-item-title
  margin: 1.5rem 0

.work-item-description
  margin-bottom: 1rem

.work-item-technologies-wrapper
  width: 100%
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  .icon
    height: 2rem
    width: auto
    margin: 10px

/* Media Queries */

@media screen and (min-width: $tablet-breakpoint)
  .work-item-wrapper
    width: 80%

  $work-item-thumbnail-width: 1440px
  $work-item-thumbnail-height: 900px
  $work-item-thumbnail-scale: 0.25

  .work-item-thumbnail
    width: $work-item-thumbnail-width
    height: $work-item-thumbnail-height

  .work-item-thumbnail
    transform: scale($work-item-thumbnail-scale)

  .work-item-thumbnail-wrapper
    width: calc( #{$work-item-thumbnail-width} * #{$work-item-thumbnail-scale})
    height: calc(#{$work-item-thumbnail-height} * #{$work-item-thumbnail-scale})

  .work-item-image-sm,
  .work-item-image-lg
    display: none

  .work-item-image-md
    display: inline-block

@media screen and (min-width: $desktop-breakpoint)
  .work-item-wrapper
    width: 50%

  $work-item-thumbnail-width: 1920px
  $work-item-thumbnail-height: 1080px
  $work-item-thumbnail-scale: 0.25

  .work-item-thumbnail
    width: $work-item-thumbnail-width
    height: $work-item-thumbnail-height

  .work-item-thumbnail
    transform: scale($work-item-thumbnail-scale)

  .work-item-thumbnail-wrapper
    width: calc( #{$work-item-thumbnail-width} * #{$work-item-thumbnail-scale})
    height: calc(#{$work-item-thumbnail-height} * #{$work-item-thumbnail-scale})

  .work-item-image-sm,
  .work-item-image-md
    display: none

  .work-item-image-lg
    display: inline-block
